@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/auth-background-rosma.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

/* .body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/auth-background-rosma.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    filter: blur(5px);
} */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    max-width: 100%;
    padding: 20px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.header {
    color: #fff;
    font-family: "Exo", sans-serif;
    font-size: 35px;
    font-weight: 200;
    margin-bottom: 20px;
    text-align: center;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.login input[type="text"],
.login input[type="email"],
.login input[type="password"] {
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: "Exo", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
    box-sizing: border-box;
}

.login input[type="button"] {
    cursor: pointer;
    height: 40px;
    background: #fff;
    border: 1px solid #fff;
    color: #000;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
}

.toggle-password:hover {
    color: #ccc;
}

/* Style untuk anchor "Lupa Password?" */
.form-text {
    color: #9e9898;
    text-decoration: none; /* Hapus underline default dari anchor */
    font-size: 14px;
    cursor: pointer;
}

.form-text:hover {
    text-decoration: underline; /* Tambahkan underline saat hover */
}

.register-btn {
    background-color: rgb(29, 75, 199);
    width: 100%;
}
.register-btn:hover {
    background-color: rgb(96, 183, 91);
}

.login-btn {
    background-color: rgb(66, 159, 61);
    width: 100%;
}

.register-text {
    background-color: rgb(29, 75, 199);
    color: white; /* Atur warna teks menjadi hitam agar kontras dengan latar belakang */
}
.login-text {
    background-color: rgb(66, 159, 61);
    color: white; /* Atur warna teks menjadi hitam agar kontras dengan latar belakang */
}

#mainNav {
    min-height: 3.5rem;
    background-color: #fff;
}
#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #64a19d;
    border: 1px solid #64a19d;
}
#mainNav .navbar-toggler:focus {
    outline: none;
}
#mainNav .navbar-brand {
    color: #000;
    font-weight: 700;
    padding: 0.9rem 0;
}
#mainNav .navbar-nav .nav-item:hover {
    color: fade(#fff, 80%);
    outline: none;
    background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}
@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
        padding: 0.5rem 0;
        color: rgba(255, 255, 255, 0.5);
    }
    #mainNav .nav-link {
        transition: none;
        padding: 1rem 1rem;
        color: rgba(255, 255, 255, 0.5);
    }
    #mainNav .nav-link:hover {
        color: rgba(255, 255, 255, 0.75);
    }
    #mainNav .nav-link:active {
        color: #fff;
    }
    #mainNav.navbar-shrink {
        background-color: #fff;
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #000;
    }
    #mainNav.navbar-shrink .nav-link {
        color: #000;
        padding: 1rem 1rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link:hover {
        color: #64a19d;
    }
    #mainNav.navbar-shrink .nav-link:active {
        color: #467370;
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: #64a19d;
        outline: none;
        border-bottom: 0.25rem solid #64a19d;
    }
}

/* register form */
/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset .form-card {
    background: transparent;
    border: 0.5px solid #919191;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 0px #919191;
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;

    /*stacking fieldsets above each other*/
    position: relative;
}

#msform fieldset {
    background: transparent;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset .form-card {
    text-align: left;
    color: #ece7e7;
}

#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid rgb(0, 208, 255);
    outline-width: 0;
}
input[type="date"] {
    background-color: transparent;
}

/* Mengubah warna simbol kalender pada input date menjadi putih */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/*Blue Buttons*/
#msform .action-button {
    width: 100px;
    background: rgb(0, 208, 255);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(0, 208, 255);
}

/*Previous Buttons*/
#msform .action-button-previous {
    width: 100px;
    background: #beb9b9;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}

/*Dropdown List Exp Date*/
select.list-dt {
    border: none;
    border-radius: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    margin-top: 2px;
    margin-bottom: 25px;
    background-color: transparent;
    color: grey;
}

select.list-dt:focus {
    border-bottom: 2px solid rgb(0, 208, 255);
    /* background-color: transparent; */
    /* color: black; */
}
select:focus option {
    color: black;
}

/*The background card*/
.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}

/*FieldSet headings*/
.fs-title {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: rgb(0, 208, 255);
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 20%;
    float: left;
    right: 15px;
    position: relative;
}

/*Icons in the ProgressBar*/
#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023";
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #address:before {
    font-family: FontAwesome;
    content: "\f5a0";
}

#progressbar #school:before {
    font-family: FontAwesome;
    content: "\f501";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/*ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: rgb(0, 208, 255);
}

/*Imaged Radio Buttons*/
.radio-group {
    position: relative;
    margin-bottom: 25px;
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px;
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

/*Fit image in bootstrap div*/
.fit-image {
    width: 100%;
    object-fit: cover;
}
